#wrapper {
    margin-top: 50px;
}

body {
    background-image: url(../_images/background.jpg);
    width: 100%;
}

#menu_bar {
    background-color: aquamarine;
    text-align: right;
    margin: 0px 0px 0px 0px;
    height: auto;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    padding: 20px 16.5px;
    color: black;
    display: block;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #ffebbe;
    box-shadow: 0px 1px 1px olivedrab;
    text-decoration: underline;
}

#contact {
    color: orangered;
}



  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust this value as needed */
     margin: 0px 0px 0px 0px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

#menu_bar img {
    margin-left: 10px;
    padding-top: 15px;
}

#heading {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }

  #side_bar {
    width: 50px;
    height: 50px;
    background-color: aqua;
  }